repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.1
    hooks:
      - id: mypy
        args: ["--strict"]
        additional_dependencies: [types-requests, types-urllib3]
        exclude: "^(tests/.*|noxfile.py)"
