aiohttp
pyopenssl
pytest
pytest-asyncio
pytest-httpserver
urllib3
requests
flaky
httpx
trustme

# Temporary stop-gap until cffi supports 3.13
cffi @ https://github.com/python-cffi/cffi/archive/refs/heads/main.zip; python_version > "3.12"
