name: CI

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    name: "Lint"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Lint the code
        run: |
          python -m pip install nox
          nox -s lint

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.os }}
    name: ${{ fromJson('{"macos-latest":"macOS","windows-latest":"Windows","ubuntu-latest":"Ubuntu"}')[matrix.os] }} Python ${{ matrix.python-version }}
    continue-on-error: false
    timeout-minutes: 10
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.x
      
      - name: Instal Mkcert CA MacOS
        if: runner.os == 'macOS'
        run: |
          go install filippo.io/mkcert@latest
          sudo security authorizationdb write com.apple.trust-settings.admin allow
          mkcert -install

      - name: Setup upterm session
        uses: lhotari/action-upterm@v1

      - name: Instal Mkcert CA Ubuntu
        if: runner.os == 'Linux'
        run: |
          go install filippo.io/mkcert@latest
          sudo apt-get install libnss3-tools
          mkcert -install

      - name: Instal Mkcert CA Windows
        if: runner.os == 'Windows'
        run: |
          go install filippo.io/mkcert@latest
          mkcert -install

      - name: Run tests
        run: |
          python -m pip install nox
          nox -s test
